*,

*:before,

*:after {
    padding: 0;
    margin: 0;
}

body {
    background-image: url(assests/second_bg.png);

}


.container {
    text-align: center;
    display: grid;
    height: 120vh;
    grid-template-columns: 1.5fr 1fr 1fr;
    grid-template-rows: 0.2fr 1.5fr 1.5fr 1.2fr 0.2fr;
    grid-template-areas:
        "nav nav nav "
        "main main main"
        "about about about"
        "content1 content1 content2"
        "content3 content3 content4"
        "footer footer footer";



}

nav {
    background-image: url(assests/header.png);
    height: 65px;
    grid-area: nav;
}

nav li {
    list-style: none;

}

p {
    color: white;
    text-decoration: none;

}

.space_title {
    color: white;
    letter-spacing: 2px;
    font-family: Poppins-Regular;
    font-size: 25px;
    margin-top: 20px;
}



.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 56px 12px 0;
    font-size: 16px;

}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: left;
    gap: 20px;

    font-family: Poppins-Light;

}

.logo {
    display: block;
    background-image: url(assests/brand.png);
    width: 50px;
    height: 38px;
}

.nav-link {
    transition: 0.7s ease;
}



a.nav-link {
    color: white;
    position: relative;
    text-decoration: none;
    letter-spacing: 0.5px;
}

a.nav-link:after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: -7px;
    left: 0;
    background-color: chartreuse;
    transform-origin: bottom right;
    transition: 0.3s;

}



a.nav-link:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}


.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: beige;
}

main {
    background-image: url(assests/header.png);
    height: 500px;
    grid-area: main;

    padding: 10px 0px 10px 0px;
    display: flex;
    justify-content: center;

}


.ProfileBox {

    width: 360px;
    height: 500px;
    display: flex;
    justify-content: center;
    flex-direction: column;

    position: relative;

}

.ProfileBox_bg {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    -webkit-backdrop-filter: blur(20px);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    border: 1px solid rgba(255, 255, 255, 0.18);
    border-radius: 5px;
    background-repeat: no-repeat;

    height: 50%;
    width: 100%;

    position: absolute;
    left: 0px;
    bottom: 10px;


}

.ProfileImage {
    /* background-image: url(assests/profile_img1.png); */
    background-color: #c3ffe1;
    opacity: 0.5;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 358px;
    border-radius: 50%;
    width: 358px;
    height: 358px;
    display: flex;
    position: absolute;
    top: -15px;


}

.ProfileImage_inner {

    background-color: #c3ffe1;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 328px;
    border-radius: 50%;
    width: 328px;
    height: 328px;
    display: flex;
    position: absolute;
    top: 0px;
    left: 15px;
    right: 0px;
    bottom: -10px;
}

.ProfileImage_inner2 {
    background-image: url(assests/pr_image.png);
    background-color: white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 320px;
    border-radius: 50%;
    width: 315px;
    height: 315px;
    display: flex;
    position: absolute;
    top: 5px;
    left: 22px;
    right: 22px;


}

.ProfileMain {
    width: 360px;
    height: 180px;

    position: absolute;
    bottom: -15px;

}

.aim {
    font-family: Lato;
    font-size: 18px
}

.name {
    font-family: Poppins-Regular;
    font-size: 25px;
    margin-top: 20px;

}

.profile_icons {

    height: 30px;
    display: flex;
    margin: 5px 5px 10px 5px;
    flex-direction: row;
    font-size: 30px;
    justify-content: center;
    gap: 40px;
    color: #fff
}



#about {
    height: 400px;
    grid-area: about;
    margin: 10px 0px 10px 250px;
    display: flex;


}

.about_main {
    flex-direction: column;
}


.about_title {
    width: 75%;
    height: 5%;
}

.about_content {
    width: 75%;
    height: 88%;

    display: flex;
    flex-direction: column;
}



.about_text {

    text-align: left;
    padding-left: 16px;
    height: 85%;
    line-height: 1.2;


}


.about_text h3 {
    margin-top: 7px;
    font-size: 25px;
    letter-spacing: 3px;
    font-family: myFirstFont;
    font-weight: 400;
    color: #fff;

}

.about_text p {
    font-size: 15px;
    letter-spacing: 0px;
    font-family: Poppins-Light;
    font-weight: 100;
    color: #fff;

}

#more {
    display: none;
}

#myBtn {
    background-color: none;
    font-size: 15px;
    letter-spacing: 0px;
    font-family: Poppins-SemiBold;
    font-weight: 300;
    color: #fff;
}

.Resume {
    padding-left: 16px;
}


.Resume-btn {
    display: flex;
    height: 50px;
    width: 200px;
    background-color: #c3ffe1;
    border-radius: 7px;
    font-family: Poppins-SemiBold;

    justify-content: center;
    color: #1f374a;
    font-weight: 5px;
    font-size: 15px;

    box-shadow: inset 0 0 0 0 white;
    transition: ease-out 0.3s;
    outline: none;

}

.btn-centr {
    padding: 12px 2px 2px 2px;
}

.Resume-btn:hover {
    box-shadow: inset 300px 0 0 0 white;
    cursor: pointer;
    color: #000;

}




#content1 {

    height: 550px;
    grid-area: content1;
    display: flex;
    justify-content: center;
}

.project_bg {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    -webkit-backdrop-filter: blur(20px);
    background-position: center;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    border: 1px solid rgba(255, 255, 255, 0.18);
    border-radius: 2px;
    height: 95%;
    margin: 10px 10px 2px 10px;
    width: 95%;

    display: flex;
    justify-content: center;
    flex-direction: column;

    gap: 20px;

}

.project_title {
    height: 10%;
    padding-bottom: 5px;


}


.project_cards {
    height: 90%;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 70px;
}

.card_main {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    -webkit-backdrop-filter: blur(20px);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    border: 1px solid rgba(255, 255, 255, 0.18);
    border-radius: 2px;

    width: 30%;
    height: 90%;
    margin: 10px 5px 2px 5px;

}

.project_container {
    display: none;
}


#content2 {

    height: 550px;
    grid-area: content2;

}

.skill {


    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    -webkit-backdrop-filter: blur(20px);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    border: 1px solid rgba(255, 255, 255, 0.18);
    border-radius: 2px;

    display: flex;
    margin: 10px 10px 0px 10px;

    flex-direction: column;


}

.skill_title {

    height: 10%;
    padding-bottom: 5px;

}

.skill_set {
    height: 90%;
    display: flex;
    justify-content: center;
}

.skill_in {
    flex-direction: column;
    width: 90%;
}

.skill_container {
    height: 75px;
    width: 100%;
    margin: 5px 5px 15px 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;

}



.skill_box2 {
    height: 75px;
    width: 90%;
    display: flex;
    flex-direction: column;


}

.skill_level {
    font-family: Poppins-Light;
    height: 50%;
    font-weight: 600px;
    padding-right: 10px;
}

.skill-bar {
    height: 10px;
    width: 100%;
    border-radius: 8px;
    background: rgba(0, 0, 0, 0.1);


}

.skill-bar .skill-per {
    position: relative;
    display: block;
    height: 100%;
    width: 80%;
    border-radius: 8px;
    background: #c3ffe1;
}

.skill-per .tooltip {
    position: absolute;
    right: -14px;
    top: -28px;
    font-size: 12px;
    font-weight: 500;
    color: #fff;
    padding: 2px 6px;
    border-radius: 3px;

}

.skill-per.Java {
    width: 85%
}

.skill-per.Python {
    width: 75%
}

.skill-per.MySql {
    width: 70%
}

.skill-per.html_css {
    width: 65%
}

.skill-per.Linux {
    width: 30%
}

.skill_name {
    position: relative;
    height: 50%;
    text-align: left;
    font-weight: 600px;

}

.skill_name p {
    font-family: Poppins-Light;
    color: white;
    text-decoration: none;
    position: absolute;
    bottom: 5px;

}

#content3 {
    min-height: 600px;
    grid-area: content3;
    display: flex;
    justify-content: center;

}

.work_bg {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    -webkit-backdrop-filter: blur(20px);
    background-position: center;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    border: 1px solid rgba(255, 255, 255, 0.18);
    border-radius: 2px;
    height: 95%;
    margin: 10px 10px 2px 10px;
    width: 95%;

    display: flex;
    flex-direction: column;
    gap: 20px;


}

.work_title {
    height: 10%;
}

.work_text {
    margin-left: 15px;
    height: 88%;
    width: 99%;
}

.exp {
    display: flex;
    gap: 10px;
}

.work_text p {
    font-family: Poppins-Regular;
    color: white;
    text-decoration: none;
    text-align: left;
    font-size: 17px;
    font-weight: 200;

}

.exp h4 {

    font-family: Lato;
    color: white;
    text-decoration: none;
    font-size: 17px;
    letter-spacing: 1px;
    font-weight: 200;

}

.exp h5 {
    font-family: Lato;
    color: #c3ffe1;
    text-decoration: none;
    font-size: 13px;
    font-weight: 150;
}

.work_desc {

    width: 90%;
    margin-left: 30px;
    margin-top: 4px;
}

ul {
    color: white;
    text-align: left;
    font-size: 16px;
    font-family: Lato;

}



#content4 {

    height: 700px;
    grid-area: content4;
    display: flex;
    justify-content: center;


}

.academics {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    margin: 10px 10px 10px 10px;
}

.education_bg {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    -webkit-backdrop-filter: blur(20px);
    background-position: center;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    border: 1px solid rgba(255, 255, 255, 0.18);
    border-radius: 2px;
    height: 65%;
    margin-bottom: 30px;

    gap: 20px;

    display: flex;
    flex-direction: column;


}

.ed_tittle {

    height: 15%;
    width: 100%;

}

.ed_container {

    height: 85%;
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    margin-bottom: 10px;

}

.ed {
    width: 90%;
    height: 25%;
    margin-left: 0px;
    margin-bottom: 10px;
}

.ed_container p {
    font-family: Poppins-Regular;
    color: white;
    text-decoration: none;
    text-align: left;
    font-size: 17px;
    font-weight: 200;


}

.ed_container h4 {
    font-family: Lato;
    color: white;
    text-decoration: none;
    text-align: left;
    font-size: 15px;
    letter-spacing: 1px;
    font-weight: 100;

}

.ed_container h5 {
    font-family: Lato;
    color: white;
    text-decoration: none;
    text-align: left;
    font-size: 12px;

    font-weight: 200;

}

.parent {

    display: flex;
    justify-content: space-between;
}

.marks {
    text-align: right;

}

.marks p {
    font-size: 15px;
}

.marks h4 {
    font-size: 13px;
}


.certification_bg {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    -webkit-backdrop-filter: blur(20px);
    background-position: center;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    border: 1px solid rgba(255, 255, 255, 0.18);
    border-radius: 2px;
    height: 50%;
    margin-bottom: 7px;
}

footer {
    grid-area: footer;

}