
@media only screen 
and (min-device-width: 750px) 
and (max-device-width: 1280px) 
and (-webkit-min-device-pixel-ratio: 2){
    .container{
        text-align: center;
        display: grid;
        height: 120vh;
        grid-template-columns: 1.5fr 1fr 1.5fr ;
        grid-template-rows: 0.2fr 1.5fr 1.5fr 1.2fr  0.2fr ;
        grid-template-areas:
        "nav nav nav " 
        "main main main"
        "about about about"
        "content1 content1 content2"
        "content3 content3 content4"
        "footer footer footer";
        
    }

   
   
}




